---
import { SITE } from '../data/content';

interface Props {
  class?: string;
}

const { class: className = 'btn btn--primary' } = Astro.props;
---

<a
  href={SITE.appWebUrl}
  class={`js-app-link ${className}`}
  data-play-store={SITE.playStore}
  data-app-web={SITE.appWebUrl}
>
  <slot />
</a>
